<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xu.qiwei.com.todomvvmtest">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.PERMISSION_GRANTED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 连接网络权限,用于执行云端语音能力 -->
    <!-- 获取手机录音机使用权限,听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取当前 wifi 状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 读取联系人权限,上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 外存储写权限,构建语法需要用到此权限 -->
    <!-- 外存储读权限,构建语法需要用到此权限 -->
    <!-- 配置权限,用来记录应用配置信息 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tasks.TasksActivity" />
        <activity android:name=".details.TaskDetailActivity" />
        <activity android:name=".addtask.AddTaskActivity" />
        <activity android:name=".broadandservice.BroadCastReciverTestActivity" />
        <activity android:name=".databindingtest.TwoBindTestActivity" />
        <activity android:name=".timesync.TimeSyncActivity" />

        <service android:name=".timesync.services.TimeSyncService" />

        <receiver android:name=".timesync.services.TimeSetReceiver" />
        <receiver android:name=".timesync.services.TimeSyncBroadCast" />

        <activity android:name=".componenttest.ComponentActivity" />
        <activity android:name=".threadpooltest.ThreadTestActivity" />
        <activity android:name=".twobindingtest.TwoBindActivity" />
        <activity android:name=".customkeyboard.KeyBoardTestActivity" />
        <activity android:name=".zxingtest.ZXingTestActivity" />
        <activity android:name=".signtest.SignTestActivity" />
        <activity android:name=".fingerprint.FingetTestActivity" />
        <activity android:name=".customkeyboard.KeyBoareTestV2Activity" />
        <activity
            android:name=".zxingtest.CaptureCusActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".flowlayout.view.FlowLayoutTestActivity" />
        <activity android:name=".blueprint.views.PrintMainActivity" />

        <receiver android:name=".blueprint.receiver.BlueToothBroadcastReceiver" />

        <activity
            android:name=".autolayouttest.views.AutoLayoutTestActivity"
            android:screenOrientation="landscape" />
        <!--
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />
        -->
        <meta-data
            android:name="design_width"
            android:value="1920" />
        <meta-data
            android:name="design_height"
            android:value="1200" />

        <activity android:name=".blueprintv2.BluePrinterV2Activity" />
        <activity android:name=".activityloadmods.OneActivity" />
        <activity android:name=".activityloadmods.TwoActivity" />
        <activity
            android:name=".activityloadmods.ThreeActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".activityloadmods.FourActivity" />
        <activity android:name=".commontest.TestActivity" />
        <activity
            android:name=".listviewwithfragments.ListFragmentsActivity"
            android:label="@string/title_activity_list_fragments"
            android:theme="@style/AppTheme" />
        <activity android:name=".recyclelisttest.RecycleListActivity" />
        <activity android:name=".vlayouttest.VLayoutTestActivity" />
        <activity android:name=".takephoto.views.TakePhotoActivity" />
        <activity android:name=".testpy.views.TestOneActivity" />
        <activity android:name=".iflytest.views.IflyTestActivity" />
        <activity
            android:name=".mutiprocess.ProcessActivity"
            android:label="@string/title_activity_process"
            android:theme="@style/AppTheme" />

        <service
            android:name=".mutiprocess.MessageService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote"
            />
    </application>

</manifest>